html, body {
    height: 100%;
    margin: 0;
    font: 13px 'Open Sans', sans-serif;
}

::selection {
    background: #FFEFFF;
}

::-moz-selection {
    background: #FFEFFF;
}

h1 {
    margin-top: 19%;
    font-size: 48px;
    line-height: 48px;
    color: #3f3f3f;
    font-weight: 400;
    letter-spacing: -1px;
}

p {
    margin-top: -3%;
    margin-bottom: 19%;
    font-size: 16px;
    line-height: 16px;
    color: #d5d5d5;
    font-weight: 400;
    letter-spacing: -1px;
}

#wrapper {
    min-height: 100%;
    width: 75%;
    margin: auto;
}

/* HEADER */

header {
    padding-top: 28px;
    padding-bottom: 0px;
    border-bottom: 1px solid #d5d5d5;
}

header a {
    color: #666666;
    text-decoration: none;
    transition: color 0.25s ease-out;
}

header a:hover {
    color: #ADD6FF;
    transition: color 0.25s ease-out;
}

/* LOGO */

#questionMark {
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: inline-block;
    font: 20px 'Open Sans', sans-serif;
    line-height: 38px;
}

/* NAVIGATION*/

nav {
    display: inline-block;
    float: right;
}

nav a {
    color: #3f3f3f;
    text-decoration: none;
}

nav ul {
    text-align: right;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

nav li {
    font: 13px 'Open Sans', sans-serif;
    padding: 10px;
}

.mainMenu li {
    display: inline-block;
    padding: 10px 5px;
    margin: 0;
}

.mainMenu a:hover {
    padding-bottom: 5px;
    color: #666666;
    text-decoration: none;
    border-bottom: 4px solid #C2FFD6;
}

/*SECTION*/

section {
    overflow: auto;
    padding-bottom: 100px;
    text-align: center;
}

/*FOOTER*/

footer {
    width: 100%;
    position: relative;
    margin-top: -100px;
    height: 100px;
    clear:both;
    text-align: center;
    line-height: 100px;
    border-top: 1px solid #d5d5d5;
}

/*footer a specs*/

footer a {
    color:#d5d5d5;
    text-decoration: none;
    transition: color 0.25s ease-out;
}

/*footer hover specs*/

footer a:hover {
    color: #ADD6FF;
    transition: color 0.25s ease-out;
}